{% extends "main.html" %} {% block content %}
<div class="container mx-auto p-8 my-4">
  {% if students %}
  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <div
      class="px-6 py-3 bg-blue-500 text-white text-xl font-medium flex justify-between"
    >
      <span>Student Records</span>
      <div class="flex">
        <div class="flex items-center space-x-3 text-sm">
          <select onchange="window.location.href=this.value" class="bg-white text-blue-500 border px-3 py-1 rounded">
            <option value="?sort=recent" {% if sort == 'recent' or not sort %}selected{% endif %}>
              Recently Added
            </option>
            <option value="?sort=cgpa" {% if sort == 'cgpa' %}selected{% endif %}>
              CGPA
            </option>
            <option value="?sort=oldest" {% if sort == 'oldest' %}selected{% endif %}>
              Oldest First
            </option>
          </select>
        </div>
        <span class="text-end px-4">Records: {{students|length }}</span>
      </div>
    </div>

    <div class="overflow-x-auto">
      <table
        class="w-full border-collapse bg-white text-left shadow-md text-lg"
      >
        <thead>
          <tr class="bg-gray-100 border-b">
            <th class="p-3">USN</th>
            <th class="p-3">First Name</th>
            <th class="p-3">Last Name</th>
            <th class="p-3">Email ID</th>
            <th class="p-3">CGPA</th>
            <th class="p-3">Branch</th>
            <th class="p-3">Placed Company</th>
            <th class="p-3 text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
          <tr
            class="border-b hover:bg-gray-100 transition clickable-row cursor-pointer text-[18px]"
            data-href="{% url 'stud-profile' student.id %}"
          >
            <td class="p-3">{{ student.usn |upper }}</td>
            <td class="p-3">{{ student.first_name | upper }}</td>
            <td class="p-3">{{ student.last_name | upper }}</td>
            <td class="p-3">{{ student.email_id}}</td>
            <td class="p-3">{{ student.cgpa | upper }}</td>
            <td class="p-3">{{ student.branch  | upper }}</td>
            <td class="p-4">{{ student.placed_company  | upper}}</td>
            <td class="p-3 flex justify-center space-x-2">
              <a
                href="{% url 'stud-profile' student.id %}"
                class="bg-green-500 text-white px-3 py-2 rounded-lg hover:bg-green-600 transition"
              >
                <i class="fa-solid fa-circle-info"></i>
              </a>
              <a
                href="{% url 'update' student.id %}"
                class="bg-yellow-500 text-white px-3 py-2 rounded-lg hover:bg-yellow-600 transition"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <a
                href="{% url 'delete' student.id %}"
                class="bg-red-500 text-white px-3 py-2 rounded-lg hover:bg-red-600 transition"
              >
                <i class="fa-solid fa-trash"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  <h5
    class="mt-6 p-4 text-center bg-blue-100 text-blue-600 font-medium rounded-lg"
  >
    No Student Records Found
  </h5>
  {% endif %}
</div>

{% include "footer.html" %}

<!-- JavaScript snippet for making each row clickable -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const rows = document.querySelectorAll(".clickable-row");
    rows.forEach((row) => {
      row.addEventListener("click", () => {
        window.location.href = row.dataset.href;
      });
    });
  });
</script>

{% endblock content %}
