{% extends 'main.html' %}

{% block content %}
<div class = "container">
    <div class = "row">
        <div class = "col-md-4 offset-md-4 text-center">
            <img src="{{studentId.avatar.url}}" alt="" class = "img-fluid rounded" width="300" height= "300"/>
        </div>
        <div class="col-md-5">
            <h2 class= "mt-5">{{studentId.first_name}} {{studentId.last_name}}</h2>
            <table class= "table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th class = "text-nowrap" style="width:20 %;">
                            USN
                        </th>
                        <td>{{studentId.usn}}</td>
                    </tr>
                    <tr>
                        <th class = "text-nowrap">Email ID</th>
                        <td>{{studentId.email_id}}</td>
                    </tr>
                    <tr>
                        <th class ="text-nowrap">Placed Company</th>
                        <td>{{studentId.placed_company}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
